---
import RecipePreview from '../../components/RecipePreview.vue'
import { useRecipesStore, buildRecipePath } from '../../stores/recipes.ts'
import Steps from '../../components/Steps.vue'
import Ingredients from '../../components/Ingredients.vue'
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const recipesStore = useRecipesStore();

  const paths = (await recipesStore.recipePaths)

  // console.log(JSON.stringify({paths}))

  return [
    ...paths,
  ]
}

const { recipe } = Astro.props
---

<BaseLayout>
  <a href="/">Back to all recipes</a>
  <h1>{recipe.metadata.title}</h1>

  <h3>Ingredients</h3>
  <Ingredients recipe={recipe} />

  <h3>Steps</h3>
  <Steps recipe={recipe} />

  <!-- <RecipePreview recipe={recipe} /> -->
</BaseLayout>
