---
import RecipePreview from '../../components/RecipePreview.vue'
import { useRecipesStore, buildRecipePath } from '../../stores/recipes.ts'
import Steps from '../../components/Steps.vue'
import Ingredients from '../../components/Ingredients.vue'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const recipesStore = useRecipesStore()

  const paths = await recipesStore.recipePaths

  // console.log(JSON.stringify({paths}))

  return [...paths]
}

const { recipe } = Astro.props

const { title, servings } = recipe.metadata
---

<BaseLayout title={title}>
  <li slot="menu">
    <a href="/">Back to all recipes</a>
  </li>

  <section class="intro px-4 mb-4">
    <h1 class="font-display font-thin text-5xl mb-2">{title}</h1>

    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Servings</div>
        <div class="stat-value">{servings}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Cooking time</div>
        <div class="stat-value">{servings}</div>
      </div>
    </div>
  </section>

  <div class="flex flex-grow">
    <div class="border border-dashed p-4 max-w-md w-full">
      <h3 class="font-display font-thin text-2xl mb-2">Ingredients</h3>
      <Ingredients recipe={recipe} />
    </div>

    <div class="order-first w-full p-4">
      <h3 class="font-display font-thin text-2xl mb-2">Steps</h3>
      <Steps recipe={recipe} />
    </div>
  </div>
</BaseLayout>
