---
import RecipePreview from '../../components/RecipePreview.vue'
import { useRecipesStore, buildRecipePath } from '../../stores/recipes.ts'
import Steps from '../../components/Steps.vue'
import Ingredients from '../../components/Ingredients.vue'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const recipesStore = useRecipesStore()

  const paths = await recipesStore.recipePaths

  // console.log(JSON.stringify({paths}))

  return [...paths]
}

const { recipe } = Astro.props

const { title, servings } = recipe.metadata
---

<BaseLayout title={title}>
  <li slot="menu">
    <a href="/">Back to all recipes</a>
  </li>

  <section class="intro text-center mb-4">
    <h1 class="font-display font-thin text-5xl mb-2">{title}</h1>

    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Servings</div>
        <div class="stat-value">{servings}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Cooking time</div>
        <div class="stat-value">{servings}</div>
      </div>
    </div>
  </section>

  <h3>Ingredients</h3>
  <Ingredients recipe={recipe} />

  <h3>Steps</h3>
  <Steps recipe={recipe} />

  <!-- <RecipePreview recipe={recipe} /> -->
</BaseLayout>
